/* ITmaster - /admin/file */
/* file */

@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
	width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.wrap {
    background: linear-gradient(#F8FAFC, #D9EAFD, #BCCCDC, #9AA6B2);
    background-color: #A4A4A4;

    width: 100%;
    height: 100%
}

.container {
    background-color: #D9EAFD;
    width: 1600px;
    height: 800px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
    display: flex;
}

.container .side {
    background-color: #F8FAFC;
    width: 70px;
    height: 710px;
    margin-left: 30px;
    margin-top: 65px;
    border-radius: 15px;
}

.container .side i {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 25px;
}

.container .section {
    width: 1450px;
    height: 750px;
    margin-left: 20px;
    margin-top: 25px;
}

.container .section .header {
    background-color: aquamarine;
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.container .section .main {
    background-color: burlywood;
    width: 100%;
    height: 660px;
    margin-top: 10px;
}

.container .section .main .content1 {
    background-color: cadetblue;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .section .main .content2 {
    background-color: chocolate;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.container .section .main .content2 .file_upload {
    background-color: azure;
    width: 500px;
    height: 100%;
    margin-left: 20px;
}

.container .section .main .content2 .file_upload i {
    color: #BCCCDC;
    font-size: 30px;
    vertical-align: middle;
    cursor: pointer;
}

.container .section .main .content2 .file_upload i:hover {
    color: #9AA6B2
}

.container .section .main .content2 .file_upload span {
    display: inline-block;
    background-color: #D9EAFD;
    width: 250px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap; /*줄바꿈 방지*/
    overflow: hidden; /*넘치는 부분 숨김*/
    text-overflow: ellipsis; /*넘치는 부분 ... 처리*/
    vertical-align: middle; /* 자식 태그 정렬 */
    border: 1px ridge #9AA6B2;
    border-radius: 10px;
    padding-left: 15px;
}

.container .section .main .content2 .file_upload .upload {
    background-color: #BCCCDC;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    border: none;
    cursor: pointer;
}

.container .section .main .content2 .file_upload .upload:hover {
    background-color: #9AA6B2;
}









.container .section .main .content2 .file_search {
    background-color: bisque;
    width: 300px;
    height: 100%;
}

.container .section .main .content2 .file_search input {
    background-color: #F8FAFC;
    width: 250px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding-left: 40px;
    font-size: 20px;
}

.container .section .main .content2 .file_search i {
    position: relative;
    font-size: 20px;
    top: 30px;
    left: 10px;
}

.container .section .main .content2 .file_search input:focus {
    background-color: #D9EAFD;
}

.container .section .main .content3 {
    background-color: darkgray;
    width: 100%;
    height: 370px;
}

.container .section .main .content3 table {
    background-color: antiquewhite;
    text-align: center;
    width: 100%;
    border-collapse: collapse; /* 테두리를 겹치게 설정하여 공백 제거 */
    border-collapse: separate; /* 기본값이지만 명시적으로 설정 */
    border-spacing: 0 5px; /* 열 간격 0, 행 간격 10px */
}

.container .section .main .content3 table thead {
    background-color: #9AA6B2;
}

.container .section .main .content3 table td {
    background-color: #F8FAFC;
}

.container .section .main .content3 table tbody tr:hover {
    transform: translateX(10px) translateZ(10px); /* 축 이동 */
    perspective: 1000px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* 그림자 추가 */
    transition: all 0.3s ease-in-out;  /* 애니메이션 추가(모든 속성에 적용, 0.3초 동안, 시작과 끝이 부드러움) */
}

.container .section .main .content3 table th, td{
    padding: 6px 20px;
}

.container .section .footer {
    background-color: brown;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.container .section .footer .paging {
    background-color: #9AA6B2;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 50%;
    transform: translateX(-50%, 0px);
}