<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITmaster-file</title>
    <link rel="stylesheet" type="text/css" href="/admin/file/style.css">
    <!-- 폰트어썸 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
	<!-- 구글 폰트 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div class="wrap">
        <div class="container">
			<div class="side">
				<ul>
					<li>
						<a class="home" th:href="@{/root}">
							<i class="fa-solid fa-house"></i>
						</a>
					</li>
					<li>
						<a th:href="@{/admin/chart}">
							<i class="fa-solid fa-chart-line"></i>
						</a>
					</li>
					<li>
						<a th:href="@{/file/list}">
							<i class="fa-regular fa-folder-open"></i>
						</a>
					</li>
					<li>
						<i class="fa-solid fa-cart-shopping"></i>
					</li>
				</ul>
			</div>
            <div class="section">
                <div class="header">
                    <h2>파일 관리</h2>
                </div>

                <div class="main">
                    <div class="content1">
                        <div class="hwp_file">
                            한글 파일
                        </div>
                        <div class="excel_file">
                            엑셀 파일
                        </div>
                        <div class="pdf_file">
                            PDF 파일
                        </div>
                    </div>

                    <div class="content2">
                        <div class="file_upload">
                            <form th:action="@{/file/upload}" method="post" enctype="multipart/form-data">
                                <!-- <i class="fa-solid fa-file-zipper"></i> -->
                                <input type="file" class="file" id="file" name="file">
                                <input type="submit" class="upload" value="업로드하기">
                            </form>
                        </div>
                        <div class="file_search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <form th:action="@{/file/list}" method="get">
                                <input type="text" id="keyword" name="keyword" th:value="${keyword}">
                                <input type="submit" value="검색하기" style="display: none;">
                            </form>
                        </div>
                    </div>

                    <div class="content3">
                        <div class="tabs" id="tab">
                            <button class="tab active" data-ext=".hwp">한글파일</button>
                            <button class="tab" data-ext=".xlsx">엑셀파일</button>
                            <button class="tab" data-ext=".pdf">PDF파일</button>
                        </div>
                        <table>
                            <thead>
                                <tr id="custom">
                                    <th>번호</th>
                                    <th>파일명</th>
                                    <th>확장자명</th>
                                    <th>파일크기</th>
                                    <th>누적다운로드수</th>
                                    <th>등록일시</th>
                                    <th>삭제</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="file, loop : ${fileList}">
                                    <td th:text="${loop.count}"></td>
                                    <td>
                                        <a th:text="${file.fileName}" th:href="@{/file/download(fileName=${file.fileName})}" onclick="return confirmDownload();"></a>
                                    </td>
                                    <td th:text="${file.fileType}"></td>
                                    <td th:text="${#numbers.formatDecimal(file.fileSize / 1024.0, 1, 1) + ' KB'}"></td>
                                    <td th:text="${file.count}"></td>
                                    <td th:text="${#temporals.format(file.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td><a th:href="@{|/file/delete/${file.id}|}" onclick="return confirmDelete();">삭제하기</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="footer">
                    <div class="paging">
                        <a class="first_page" th:href="@{|?page=${first}|}" role="button">첫 페이지</a>
                        <a class="previous" th:href="@{|?page=${previous}|}" th:if="${hasPrevious}" role="button"></a>
                        <span class="previous" th:if="${!hasPrevious}"></span>

                        <span class="paging_number" th:each="pageNumber : ${#numbers.sequence(currentPage >= 2 ? (currentPage - 2) : 0, currentPage >= 2 ? (currentPage + 2 < totalPages ? currentPage + 2 : totalPages - 1) : (totalPages > 5 ? 4 : totalPages - 1))}">
                            <a class="paging_number" th:href="@{|?page=${pageNumber}&keyword=${keyword}|}" th:text="${pageNumber + 1}" th:classappend="${pageNumber == currentPage} ? 'current-page'"></a>           
                        </span>

                        <a class="next" th:href="@{|?page=${next}|}" th:if="${hasNext}" role="button"></a>
                        <span class="next" th:if="${!hasNext}"></span>
                        <a class="last_page" th:href="@{|?page=${totalPages -1}|}" role="button">마지막 페이지</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 삭제 버튼 알림// -->
	<script type="text/javascript">
	    function confirmDelete() {
	        return confirm("정말 삭제를 하시겠습니까?");
	    }
	</script>
    <!-- //삭제 버튼 알림 -->
    <!-- 다운로드 버튼 알림// -->
	<script type="text/javascript">
	    function confirmDownload() {
	        return confirm("정말 다운로드를 하시겠습니까?");
	    }
	</script>
    <!-- //다운로드 버튼 알림 -->
    


</body>
</html>