<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITmaster-file</title>
    <link rel="stylesheet" type="text/css" href="/admin/file/style.css">
    <!-- 폰트어썸 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
	<!-- 구글 폰트 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div class="wrap">
        <div class="container">
			<div class="side">
				<ul>
					<li>
						<a class="home" th:href="@{/root}">
							<i class="fa-solid fa-house home_button"></i>
						</a>
					</li>
					<li>
						<a th:href="@{/admin/chart}">
							<i class="fa-solid fa-chart-line"></i>
						</a>
					</li>
					<li>
						<a th:href="@{/file/list}">
							<i class="fa-regular fa-folder-open"></i>
						</a>
					</li>
					<li>
						<i class="fa-solid fa-cart-shopping"></i>
					</li>
				</ul>
			</div>
            <div class="section">
                <div class="header">
                    <h2>파일 관리</h2>
                </div>

                <div class="main">
                    <div class="content1">
                        <div class="chart1">
                            <canvas id="countFileDownloadLogListBarChart">누적다운로드 랭킹</canvas>
                        </div>
                        <div class="chart2">
                            <canvas id="fileCategoryCountListBarChart">카테고리 별, 누적 다운로드</canvas>
                        </div>
                        <div class="chart3">
                            <canvas id="">실시간 다운로드</canvas>
                        </div>
                    </div>

                    <div class="content2">
                        <div class="file_upload">
                            <form th:action="@{/file/upload}" method="post" enctype="multipart/form-data">
                                <label for=""></label>
                                <select id="fileCategory" name="fileCategory">
                                    <option value="">선택하기</option>
                                    <option th:each="fileCategory, loop : ${fileCategoryList}" th:text="${fileCategory.fileCategory}" th:value="${fileCategory.fileCategory}"></option>
                                </select>
                                <i class="fa-solid fa-folder-plus" id="iconButton"></i>
                                <span id="fileName">선택된 파일 없음</span>
                                <input type="file" class="file" id="file" name="file" style="display: none;">
                                <input type="submit" class="upload" value="업로드하기">
                            </form>
                        </div>
                        <div class="file_search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <form th:action="@{/file/list}" method="get">
                                <input type="text" id="keyword" name="keyword" th:value="${keyword}" placeholder="  검색어를 입력하세요.">
                                <input type="submit" value="검색하기" style="display: none;">
                            </form>
                        </div>
                    </div>

                    <div class="content3">
                        <div class="file_category_list">
                            <ul th:each="fileCategory, loop : ${fileCategoryList}">
                                <li><a th:href="@{|/file/list/${fileCategory.id}|}" th:text="${fileCategory.fileCategory}"></a></li>
                            </ul>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>카테고리</th>
                                    <th>파일명</th>
                                    <th>확장자명</th>
                                    <th>파일크기</th>
                                    <th>누적다운로드수</th>
                                    <th>등록일시</th>
                                    <th>삭제</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="file, loop : ${fileList}">
                                    <td th:text="${loop.count}"></td>
                                    <td th:text="${file.fileCategory}"></td>
                                    <td>
                                        <a th:text="${file.fileName}" th:href="@{/file/download(fileName=${file.fileName})}" onclick="return confirmDownload();"></a>
                                    </td>
                                    <td th:text="${file.fileType}"></td>
                                    <td th:text="${#numbers.formatDecimal(file.fileSize / 1024.0, 1, 1) + ' KB'}"></td>
                                    <td th:text="${file.count}"></td>
                                    <td th:text="${#temporals.format(file.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td><a th:href="@{|/file/delete/${file.id}|}" onclick="return confirmDelete();">삭제하기</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="footer">
                    <div class="paging">
                        <a class="first_page" th:href="@{|?page=${first}|}" role="button">첫 페이지</a>
                        <a class="previous" th:href="@{|?page=${previous}|}" th:if="${hasPrevious}" role="button"></a>
                        <span class="previous" th:if="${!hasPrevious}"></span>

                        <span class="paging_number" th:each="pageNumber : ${#numbers.sequence(currentPage >= 2 ? (currentPage - 2) : 0, currentPage >= 2 ? (currentPage + 2 < totalPages ? currentPage + 2 : totalPages - 1) : (totalPages > 5 ? 4 : totalPages - 1))}">
                            <a class="paging_number" th:href="@{|?page=${pageNumber}&keyword=${keyword}|}" th:text="${pageNumber + 1}" th:classappend="${pageNumber == currentPage} ? 'current-page'"></a>           
                        </span>

                        <a class="next" th:href="@{|?page=${next}|}" th:if="${hasNext}" role="button"></a>
                        <span class="next" th:if="${!hasNext}"></span>
                        <a class="last_page" th:href="@{|?page=${totalPages -1}|}" role="button">마지막 페이지</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 삭제 버튼 알림 // -->
	<script type="text/javascript">
	    function confirmDelete() {
	        return confirm("정말 삭제를 하시겠습니까?");
	    }
	</script>
    <!-- // 삭제 버튼 알림 -->
    <!-- 다운로드 버튼 알림 // -->
	<script type="text/javascript">
	    function confirmDownload() {
	        return confirm("정말 다운로드를 하시겠습니까?");
	    }
	</script>
    <!-- // 다운로드 버튼 알림 -->
    
    <!-- 파일 업로드 // -->
    <script>
        document.getElementById("iconButton").addEventListener("click", function () {
            document.getElementById("file").click();
        });

        document.getElementById("file").addEventListener("change", function() {
            let fileName = this.files.length > 0 ? this.files[0].name : "선택된 파일 없음";
            document.getElementById("fileName").textContent = fileName;
        });
    </script>
    <!-- // 파일 업로드 -->

    <!-- 파일 관리 차트 // -->
    <script th:inline="Javascript">
        // 누적 다운로드 많은 순 정렬 조회
        const countFileDownloadLogList = /*[[${countFileDownloadLogList}]]*/ [];
        console.log("값 확인 : " + countFileDownloadLogList[0].downloadCount);
        // 차트 데이터
        const countFileDownloadLogListData = {
            labels: [countFileDownloadLogList[0].fileName, countFileDownloadLogList[1].fileName, countFileDownloadLogList[2].fileName, countFileDownloadLogList[3].fileName, countFileDownloadLogList[4].fileName],
            datasets: [
                {
                    label: countFileDownloadLogList[0].fileName,
                    data: [countFileDownloadLogList[0].downloadCount, 0, 0, 0]
                },
                {
                    label: countFileDownloadLogList[1].fileName,
                    data: [0, countFileDownloadLogList[1].downloadCount, 0, 0, 0]
                },
                {
                    label: countFileDownloadLogList[2].fileName,
                    data: [0, 0, countFileDownloadLogList[2].downloadCount, 0, 0]
                },
                {
                    label: countFileDownloadLogList[3].fileName,
                    data: [0, 0, 0, countFileDownloadLogList[3].downloadCount, 0]
                },
                {
                    label: countFileDownloadLogList[4].fileName,
                    data: [0, 0, 0, 0, countFileDownloadLogList[4].downloadCount]
                }
            ]
        };
        // 차트 구성
        const countFileDownloadLogListConfig = {
            type: 'bar',
			data: countFileDownloadLogListData,
			options: {
				maintainAspectRatio: false,
				indexAxis: 'x',
				plugins: {
					title: {
						display: true,
						text: '누적 다운로드 랭킹'
					}
				}
			}
        };
        // 차트 그리기
        const countFileDownloadLogListCtx = document.getElementById('countFileDownloadLogListBarChart').getContext('2d');
		new Chart(countFileDownloadLogListCtx, countFileDownloadLogListConfig);

        // 카테고리 별, 누적 다운로드 수
        const fileCategoryCountList = /*[[${fileCategoryCountList}]]*/ [];
        console.log("값 확인 : " + fileCategoryCountList[0].total);
        // 차트 데이터
        const fileCategoryCountListData = {
            labels: [fileCategoryCountList[0].fileCategory, fileCategoryCountList[1].fileCategory, fileCategoryCountList[2].fileCategory, fileCategoryCountList[3].fileCategory],
            datasets: [
                {
                    label: fileCategoryCountList[0].fileCategory,
                    data: [fileCategoryCountList[0].total, 0, 0, 0]
                },
                {
                    label: fileCategoryCountList[1].fileCategory,
                    data: [0, fileCategoryCountList[1].total, 0, 0, 0]
                },
                {
                    label: fileCategoryCountList[2].fileCategory,
                    data: [0, 0, fileCategoryCountList[2].total, 0, 0]
                },
                {
                    label: fileCategoryCountList[3].fileCategory,
                    data: [0, 0, 0, fileCategoryCountList[3].total]
                }
            ]
        };
        // 차트 구성
        const fileCategoryCountListConfig = {
            type: 'bar',
			data: fileCategoryCountListData,
			options: {
				maintainAspectRatio: false,
				indexAxis: 'x',
				plugins: {
					title: {
						display: true,
						text: '카테고리 별, 누적 다운로드 수'
					}
				}
			}
        };
        // 차트 그리기
        const fileCategoryCountListCtx = document.getElementById('fileCategoryCountListBarChart').getContext('2d');
		new Chart(fileCategoryCountListCtx, fileCategoryCountListConfig);

     </script>
    <!-- // 파일 관리 차트 -->

    

</body>
</html>