<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ITmaster-admin</title>
	<link rel="stylesheet" type="text/css" href="/main/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
	<div>
		<h3>전산 차트</h3>
		<div class="charts">
			<div class="chart1">
				<div style="position: relative; width: 700px; height: 200px">
					<canvas id="itInventoryBarChart"></canvas>
				</div>
				<div style="position: relative; width: 1000px; height: 300px">
					<canvas id="itInventoryStatusBarChart"></canvas>
				</div>
			</div>
			<hr>
			<div class="chart2">
				<div style="position: relative; width: 1000px; height: 300px">
					<canvas id="countDesktopBarChart"></canvas>
				</div>
				<div style="position: relative; width: 400px; height: 400px">
					<canvas id="doughnutChart"></canvas>
				</div>
			</div>
			<div style="position: relative; width: 2000px; height: 400px">
				<canvas id="countDesktopTypeBarChart"></canvas>
			</div>
		</div>
	</div>

	<script th:inline="JavaScript">
		// 제품 정보 '키보드' 총합
		const countProductInfoKeyboard = "[[${countProductInfoKeyboard}]]";
		// 제품 정보 '마우스' 총합
		const countProductInfoMouse = "[[${countProductInfoMouse}]]";
		// 제품 정보 '모니터' 총합
		const countProductInfoMonitor = "[[${countProductInfoMonitor}]]";
		// 데스크탑 총합
		const countDesktop = "[[${countDesktop}]]";

		// 제품 정보(키보드) 상태 - '정상' 총합 조회
		const countProductInfoKeyboardNormal = "[[${countProductInfoKeyboardNormal}]]";
		// 제품 정보(키보드) 상태 - '결함' 총합 조회
		const countProductInfoKeyboardDefective = "[[${countProductInfoKeyboardDefective}]]"
		// 제품 정보(키보드) 상태 - '고장' 총합 조회
		const countProductInfoKeyboardFaulty = "[[${countProductInfoKeyboardFaulty}]]";

		// 제품 정보(마우스) 상태 - '정상' 총합 조회
		const countProductInfoMouseNormal = "[[${countProductInfoMouseNormal}]]";
		// 제품 정보(마우스) 상태 - '결함' 총합 조회
		const countProductInfoMouseDefective = "[[${countProductInfoMouseDefective}]]";
		// 제품 정보(마우스) 상태 - '고장' 총합 조회
		const countProductInfoMouseFaulty = "[[${countProductInfoMouseFaulty}]]";

		// 제품 정보(모니터) 상태 - '정상' 총합 조회
		const countProductInfoMonitorNormal = "[[${countProductInfoMonitorNormal}]]";
		// 제품 정보(모니터) 상태 - '결함' 총합 조회
		const countProductInfoMonitorDefective = "[[${countProductInfoMonitorDefective}]]";
		// 제품 정보(모니터) 상태 - '고장' 총합 조회
		const countProductInfoMonitorFaulty = "[[${countProductInfoMonitorFaulty}]]";

		// 데스크탑 '사무용' 총합 조회
		const countDesktopOffice = "[[${countDesktopOffice}]]";
		// 데스크탑 '설계용' 총합 조회
		const countDesktopCad = "[[${countDesktopCad}]]";
		// 데스크탑 '디자인용' 총합 조회
		const countDesktopDesign = "[[${countDesktopDesign}]]";
		// 데스크탑 '기타' 총합 조회
		const countDesktopOther = "[[${countDesktopOther}]]";
		// 데스크탑 '미달' 총합 조회
		const countDesktopLack = "[[${countDesktopLack}]]";


		const total = countProductInfoKeyboard + countProductInfoMouse + countProductInfoMonitor;

		// --------------------------------------------------------------------------------------------------------------------
		// 전산 물품 현황
		// 차트 데이터
		const itInventoryBarData = {
			labels: ['키보드', '마우스', '모니터', 'PC'],
			datasets: [
				{
					label: "전산 물품 별, 수량",
					data: [countProductInfoKeyboard, countProductInfoMouse, countProductInfoMonitor, countDesktop],
				}
			]
		};
		// 차트 구성
		const itInventoryBarConfig = {
			type: 'bar',
			data: itInventoryBarData,
			options: {
				indexAxis: 'x',
				plugins: {
					title: {
						display: true,
						text: '전산 물품 현황'
					}
				}
			}
		};
		// 차트 그리기
		const itInventoryBarCtx = document.getElementById('itInventoryBarChart').getContext('2d');
		new Chart(itInventoryBarCtx, itInventoryBarConfig);
		// --------------------------------------------------------------------------------------------------------------------

		// 전산 물품 상태 별, 수량
		// 차트 데이터
		const itInventoryStatusBarData = {
			labels: ['키보드', '마우스', '모니터'],
			datasets: [
				{
					label: "정상",
					data: [countProductInfoKeyboardNormal, countProductInfoMouseNormal, countProductInfoMonitorNormal]
				},
				{
					label: "결함",
					data: [countProductInfoKeyboardDefective, countProductInfoMouseDefective, countProductInfoMonitorDefective]
				},
				{
					label: "고장",
					data: [countProductInfoKeyboardFaulty, countProductInfoMouseFaulty, countProductInfoMonitorFaulty]
				}
			]
		};
		// 차트 구성
		const itInventoryStatusBarConfig = {
			type: 'bar',
			data: itInventoryStatusBarData,
			options: {
				indexAxis: 'x',
				plugins: {
					title: {
						display: true,
						text: '전산 물품 상태 별, 수량'
					}
				}
			}
		};
		// 차트 그리기
		const itInventoryStatusBarCtx = document.getElementById('itInventoryStatusBarChart').getContext('2d');
		new Chart(itInventoryStatusBarCtx, itInventoryStatusBarConfig);
		// --------------------------------------------------------------------------------------------------------------------
		// 데스크탑 전체 수량
		// 차트 데이터
		const countDesktopBarData = {
			labels: ['사무용', '설계용', '디자인용', '기타', '미달'],
			datasets: [
				{
					label: "타입 별, 수량",
					data: [countDesktopOffice, countDesktopCad, countDesktopDesign, countDesktopOther, countDesktopLack]
				}
			]
		};
		// 차트 구성
		const countDesktopBarConfig = {
			type: 'bar',
			data: countDesktopBarData,
			options: {
				indexAxis: 'y',
				plugins: {
					title: {
						display: true,
						text: '데스크탑 현황'
					}
				}
			}
		}
		// 차트 그리기
		const countDesktopBarCtx = document.getElementById('countDesktopBarChart').getContext('2d');
		new Chart(countDesktopBarCtx, countDesktopBarConfig);
		// --------------------------------------------------------------------------------------------------------------------
		// doughnut 차트(포지션별 PC 개수)
		// 차트 데이터
		const doughnutData = {
			labels: ['사무용', '설계용', '디자인용', '기타', '미달'],
			datasets: [{
				label: '데스크탑 비율',
				data: [countDesktopOffice, countDesktopCad, countDesktopDesign, countDesktopOther, countDesktopLack],
			}]
		};
		// 차트 구성
		const doughnutConfig = {
			type: 'pie',
			data: doughnutData,
			options: {
				plugins: {
					title: {
						display: true,
						text: '데스크탑 비율'
					},
					tooltip: {
						callbacks: {
							label: function (tooltipItem) {
								const value = tooltipItem.raw;
								const sum = parseInt(countDesktopOffice, 10) +
											parseInt(countDesktopCad, 10) +
											parseInt(countDesktopDesign, 10) +
											parseInt(countDesktopOther, 10) +
											parseInt(countDesktopLack, 10);
								const percentage = ((value / sum) * 100).toFixed(0) + '%';
								console.log(`Raw value: ${value}, Percentage: ${percentage}`);
								return tooltipItem.label + ': ' + percentage;
							}
						}
					}
				}
			}
		};
		// 차트 그리기
		const doughnutCtx = document.getElementById('doughnutChart').getContext('2d');
		new Chart(doughnutCtx, doughnutConfig);
		// --------------------------------------------------------------------------------------------------------------------
		// 데스크탑 ICT사업부 타입 별, 총합 조회
		let countDesktopTypeList = /*[[${countDesktopTypeList}]]*/ [];
		
		// 차트 데이터
		const countDesktopTypeBarData = {
			labels: ['사무용', '설계용', '디자인용', '기타', '미달'],
			datasets: [
				{
					label: "ICT사업부",
					data: [countDesktopTypeList[0].countDesktopOffice, countDesktopTypeList[0].countDesktopCad, countDesktopTypeList[0].countDesktopDesign, countDesktopTypeList[0].countDesktopOther, countDesktopTypeList[0].countDesktopLack]
				},
				{
					label: "건축설계",
					data: [countDesktopTypeList[1].countDesktopOffice, countDesktopTypeList[1].countDesktopCad, countDesktopTypeList[1].countDesktopDesign, countDesktopTypeList[1].countDesktopOther, countDesktopTypeList[1].countDesktopLack]
				},
				{
					label: "토목설계",
					data: [countDesktopTypeList[2].countDesktopOffice, countDesktopTypeList[2].countDesktopCad, countDesktopTypeList[2].countDesktopDesign, countDesktopTypeList[2].countDesktopOther, countDesktopTypeList[2].countDesktopLack]
				},
				{
					label: "전기설계",
					data: [countDesktopTypeList[3].countDesktopOffice, countDesktopTypeList[3].countDesktopCad, countDesktopTypeList[3].countDesktopDesign, countDesktopTypeList[3].countDesktopOther, countDesktopTypeList[3].countDesktopLack]
				},
				{
					label: "PM",
					data: [countDesktopTypeList[4].countDesktopOffice, countDesktopTypeList[4].countDesktopCad, countDesktopTypeList[4].countDesktopDesign, countDesktopTypeList[4].countDesktopOther, countDesktopTypeList[4].countDesktopLack]
				},
				{
					label: "O&M",
					data: [countDesktopTypeList[5].countDesktopOffice, countDesktopTypeList[5].countDesktopCad, countDesktopTypeList[5].countDesktopDesign, countDesktopTypeList[5].countDesktopOther, countDesktopTypeList[5].countDesktopLack]
				},
				{
					label: "R&D",
					data: [countDesktopTypeList[6].countDesktopOffice, countDesktopTypeList[6].countDesktopCad, countDesktopTypeList[6].countDesktopDesign, countDesktopTypeList[6].countDesktopOther, countDesktopTypeList[6].countDesktopLack]
				},
				{
					label: "업무지원",
					data: [countDesktopTypeList[7].countDesktopOffice, countDesktopTypeList[7].countDesktopCad, countDesktopTypeList[7].countDesktopDesign, countDesktopTypeList[7].countDesktopOther, countDesktopTypeList[7].countDesktopLack]
				},
				{
					label: "정부사업",
					data: [countDesktopTypeList[8].countDesktopOffice, countDesktopTypeList[8].countDesktopCad, countDesktopTypeList[8].countDesktopDesign, countDesktopTypeList[8].countDesktopOther, countDesktopTypeList[8].countDesktopLack]
				},
				{
					label: "자재관리",
					data: [countDesktopTypeList[9].countDesktopOffice, countDesktopTypeList[9].countDesktopCad, countDesktopTypeList[9].countDesktopDesign, countDesktopTypeList[9].countDesktopOther, countDesktopTypeList[9].countDesktopLack]
				},
				{
					label: "회계",
					data: [countDesktopTypeList[10].countDesktopOffice, countDesktopTypeList[10].countDesktopCad, countDesktopTypeList[10].countDesktopDesign, countDesktopTypeList[10].countDesktopOther, countDesktopTypeList[10].countDesktopLack]
				},
				{
					label: "경기지사",
					data: [countDesktopTypeList[11].countDesktopOffice, countDesktopTypeList[11].countDesktopCad, countDesktopTypeList[11].countDesktopDesign, countDesktopTypeList[11].countDesktopOther, countDesktopTypeList[11].countDesktopLack]
				}
			] 
		};
		// 차트 구성
		const countDesktopTypeBarConfig = {
			type: 'bar',
			data: countDesktopTypeBarData,
			options: {
				indexAxis: 'x',
				plugins: {
					title: {
						display: true,
						text: '부서 별, 데스크탑 타입 수량'
					}
				}
			}
		};
		const countDesktopTypeBarCtx = document.getElementById('countDesktopTypeBarChart').getContext('2d');
		new Chart(countDesktopTypeBarCtx, countDesktopTypeBarConfig);
		// --------------------------------------------------------------------------------------------------------------------
	</script>

</body>

</html>


