<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITmaster-file</title>
</head>
<body>
    <h2>파일 목록</h2>
    <div>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>파일명</th>
                    <th>파일크기</th>
                    <th>등록일시</th>
                    <th>다운로드</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="file, loop : ${fileList}">
                    <td th:text="${loop.count}"></td>
                    <td>
                        <a th:text="${file.fileName}" th:href="@{/file/download(fileName = ${file.fileName})}" ></a>
                    </td>
                    <td th:text="${file.fileSize}"></td>
                    <td th:text="${file.createDate}"></td>
                </tr>
            </tbody>
        </table>

    </div>

    <hr>
    <h2>파일 업로드</h2>
    <form th:action="@{/file/upload}" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="file">
        <input type="submit" value="업로드하기">
    </form>
    <hr>
    
</body>
</html>