<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h2>전산 관리</h2>
   
    <div>
        <ul>
            <a th:href="@{/department/department-list}"><li>부서</li></a>
            <a th:href="@{/employee/employee-list}"><li>부서원</li></a>
            <a th:href="@{/category/category-list}"><li>카테고리</li></a>
            <a th:href="@{/maker/maker-list}"><li>제조사</li></a>
            <a th:href="@{/product/product-list}"><li>제품</li></a>
            <a th:href="@{/product-info/product-info-list}"><li>제품정보</li></a>
            <a th:href="@{/desktop/desktop-list}"><li>PC</li></a>
        </ul>
    </div>
    
</body>
</html>