<h2>상세보기</h2>

<div>
	<span>제목 : </span>
	<span th:text="${question.subject}"></span>
</div>

<div>
	<span>내용 : </span>
	<span th:text="${question.content}"></span>
</div>
<hr>
<div>
	<span th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></span>
</div> 
<div>
	<ul>
		<li th:each="answer : ${question.answerList}" th:text="${answer.reply}"></li>
	</ul>
</div>
<hr>
<div>
	<form th:action="@{|/answer/answer-create/${question.id}|}" method="post">
		<input type="text" id="reply" name="reply"> 
		<input type="submit" value="답변등록하기">
	</form>
</div>