<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITmaster-question_list</title>
</head>
<body>
    <!------------------------------------------- 사이드바// ------------------------------------------->
    <button class="sidebar_button" id="sidebar_button" onclick="toggleSidebar()">
        <i class="fa-solid fa-chevron-right" id="sidebar_right"></i>
        <i class="fa-solid fa-xmark" id="sidebar_xmark" style="display: none;"></i>
    </button>
    <div class="sidebar" id="sidebar">

        <div class="header">
            <a class="home" th:href="@{/root}">
                <i class="fa-solid fa-house"></i>
                <h2>HOME</h2>
            </a>
        </div>

        <div class="list">
            <ul>
                <li>
                    <a class="department" th:href="@{/department/department-list}">
                        <i class="fa-solid fa-people-group"></i>
                        부서
                    </a>
                </li>
                <li>
                    <a class="employee" th:href="@{/employee/employee-list}">
                        <i class="fa-solid fa-address-card"></i>
                        부서원
                    </a>
                </li>

                <li>
                    <a class="category" th:href="@{/category/category-list}">
                        <i class="fa-solid fa-icons"></i>
                        카테고리
                    </a>
                </li>
                <li>
                    <a class="maker" th:href="@{/maker/maker-list}">
                        <i class="fa-solid fa-book-open"></i>
                        제조사
                    </a>
                </li>
                <li>
                    <a class="product" th:href="@{/product/product-list}">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                        제품
                    </a>
                </li>
                <li>
                    <a class="product-info" th:href="@{/product-info/product-info-list}">
                        <i class="fa-solid fa-box-archive"></i>
                        제품 정보
                    </a>
                </li>
                <li>
                    <a class="desktop" th:href="@{/desktop/desktop-list}">
                        <i class="fa-solid fa-desktop"></i>
                        데스크탑
                    </a>
                </li>
            </ul>
        </div>      
    </div>
    <!------------------------------------------- //사이드바 ------------------------------------------->
    
    <div>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>질문</th>
                    <th>등록일시</th>
                    <th>삭제</th>
                    <th>수정</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>