<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ITmaser-question_list</title>
	<link rel="stylesheet" type="text/css" href="/question/style.css">
</head>
<body>
	<div>
		<h2>전산민원센터</h2>
	</div>
		
	<div>
		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>등록일시</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="question, loop: ${questionList}">
					<td th:text="${loop.count}"></td>
					<td>
						<a th:href="@{|/question/question-detail/${question.id}|}" th:text="${question.subject}"></a>
					</td>
					<td th:text=${question.createDate}></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- 페이징 -->
	<div>
		<a th:href="@{|?page=${previous}|}" th:if="${hasPrevious}" role="button">이전</a>
		<span th:if=${!hasPrevious}>이전</span>
		
		<span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
			<a th:href="@{|?page=${pageNumber}|}" th:text="${pageNumber + 1}" th:ckassaooebd="${pageNumber == currentPage} ? 'current-page'"></a>
		</span>
		
		<a th:href="@{|?page=${next}|}" th:if="${hasNext}" role="button">다음</a>
		<span th:if="${!hasNext}">다음</span>
	</div>
	
	<hr>
	
	<div>
		<form th:action="@{/question/question-create}" method="post">
			<label for="subject">질문</label>
			<input type="text" id="subject" name="subject">
			<br>
			<label for="content">내용</label>
			<input type="text" id="content" name="content">
			<br>
			<input type="submit" value="등록하기" onclick="event.preventDefault(); openCreateModal()">
		 </form>
	</div>
	
	<!-- 질문 등록 모달 -->
	<div class="create_modal_background" id="createModalBackground" onclick="closeCreateModal()"></div>
	<div class="create_modal" id="createModal">
		<div class="header">
			<h3>질문 등록</h3>
			<button type="button" class="create_modal_close" id="createModalClose" onclick="closeCreateModal()">취소</button>
		</div>
		<span>내용</span>
	</div>
	
	<!-- 질문 등록 모달// -->
	<script>
		// 등록 모달 열기
		function openCreateModal() {
			document.getElementById('createModal').style.display = 'block';
			document.getElementById('createModalBackground').style.display = 'block';
		}
	
		// 등록 모달 닫기
		function closeCreateModal() {
			document.getElementById('createModal').style.display = 'none';
			document.getElementById('createModalBackground').style.display = 'none';
		}
	</script>
	<!-- //질문 등록 모달 -->
	
</body>
</html>









