<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITmaster-desktop_list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/desktop/style.css">
</head>

<body>
    <!-- wrap// -->
    <div class="wrap">
        <!------------------------------------------- 사이드바// ------------------------------------------->
        <button class="sidebar_button" id="sidebar_button" onclick="toggleSidebar()">
            <i class="fa-solid fa-chevron-right" id="sidebar_right"></i>
            <i class="fa-solid fa-xmark" id="sidebar_xmark" style="display: none;"></i>
        </button>
        <div class="sidebar" id="sidebar">

            <div class="header">
                <a class="home" th:href="@{/root}">
                    <i class="fa-solid fa-house"></i>
                    <h2>HOME</h2>
                </a>
            </div>

            <div class="list">
                <ul>
                    <li>
                        <a class="department" th:href="@{/department/department-list}">
                            <i class="fa-solid fa-people-group"></i>
                            부서
                        </a>
                    </li>
                    <li>
                        <a class="employee" th:href="@{/employee/employee-list}">
                            <i class="fa-solid fa-address-card"></i>
                            부서원
                        </a>
                    </li>

                    <li>
                        <a class="category" th:href="@{/category/category-list}">
                            <i class="fa-solid fa-icons"></i>
                            카테고리
                        </a>
                    </li>
                    <li>
                        <a class="maker" th:href="@{/maker/maker-list}">
                            <i class="fa-solid fa-book-open"></i>
                            제조사
                        </a>
                    </li>
                    <li>
                        <a class="product" th:href="@{/product/product-list}">
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                            제품
                        </a>
                    </li>
                    <li>
                        <a class="product-info" th:href="@{/product-info/product-info-list}">
                            <i class="fa-solid fa-box-archive"></i>
                            제품 정보
                        </a>
                    </li>
                    <li>
                        <a class="desktop" th:href="@{/desktop/desktop-list}">
                            <i class="fa-solid fa-desktop"></i>
                            데스크탑
                        </a>
                    </li>
                    <li>
                        <a class="question_and_answer" th:href="@{/question/question-list}">
                            <i class="fa-solid fa-circle-question"></i>
                            Q&A
                        </a>
                    </li>
                </ul>
            </div>      
        </div>
        <!------------------------------------------- //사이드바 ------------------------------------------->

        <!-- icon// -->
        <div class="sun">
            <i class="sun fa-solid fa-sun"></i>
        </div>
        <!-- //icon -->

        <!-- container// -->
        <div class="container">
            <!-- header// -->
            <div class="header">
                <div class="title">
                    <i class="fa-solid fa-desktop"></i>
                    <h2>데스크탑</h2>
                </div>

                <div class="search">
                    <form th:action="@{/desktop/desktop-list}" method="get">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input class="searchbox" type="text" id="keyword" name="keyword" th:value="${keyword}" placeholder="   검색어를 입력하세요.">
                        <input class="searchbutton" type="submit" value="검색하기">
                    </form>
                </div>

                <div class="create_button">
                    <a onclick="openCreateModal()"><button>등록하기</button></a>
                </div>
            </div>
            <!-- //header -->

            <!-- section// -->
            <div class="section">
                <!-- side// -->
                <div class="side">
                    <div class="list">
                        <ul th:each="department, loop : ${departmentList}">
                            <li><a th:href="@{|/desktop/desktop-list/${department.id}|}" th:text="${department.department}"></a></li>
                        </ul>
                    </div>
                </div>
                <!-- //side -->
                <!-- content// -->
                <div class="content">
                    <table>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th class="department">부서</th>
                                <th class="employee">부서원</th>
                                <th>데스크탑명</th>
                                <th>구분</th>
                                <th class="create_date">등록일시</th>
                                <th>삭제</th>
                                <th>수정</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="list" th:each="desktop, loop : ${desktopList}">
                                <td th:text="${loop.count}"></td>
                                <td th:text="${desktop.id}" style="display: none;"></td>
                                <td class="department" th:text="${desktop.department.department}"></td>
                                <td class="employee" th:text="${desktop.employee.employee}"></td>
                                <td th:text="${desktop.desktop}"></td>
                                <td th:text="${desktop.desktopType.type}"></td>
                                <td th:text="${desktop.mainboard}" style="display: none;"></td>
                                <td th:text="${desktop.cpu}" style="display: none;"></td>
                                <td th:text="${desktop.gpu}" style="display: none;"></td>
                                <td th:text="${desktop.ssd}" style="display: none;"></td>
                                <td th:text="${desktop.power}" style="display: none;"></td>
                                <td th:text="${desktop.memory1}" style="display: none;"></td>
                                <td th:text="${desktop.memory2}" style="display: none;"></td>
                                <td th:text="${desktop.memory3}" style="display: none;"></td>
                                <td th:text="${desktop.memory4}" style="display: none;"></td>
                                <td th:text="${desktop.cpuScore}" style="display: none;"></td>
                                <td th:text="${desktop.gpuScore}" style="display: none;"></td>
                                <td class="create_date" th:text="${#temporals.format(desktop.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td><a class="delete_button" th:href="@{|/desktop/desktop-delete/${desktop.id}|}" onclick="return confirmDelete();">삭제하기</a></td>
                                <td><a class="update_button" onclick="openUpdateModal(this)">수정하기</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //content -->
            </div>
            <!-- //section -->
            <!-- footer// -->
            <div class="footer">
                <!-- 페이징// -->
                <div class="paging">
                    <a class="first_page" th:href="@{|?page=${first}|}" role="button">첫 페이지</a>
                    <a class="previous" th:href="@{|?page=${previous}&keyword=${keyword}|}" th:if="${hasPrevious}" role="button"></a>
                    <span class="previous" th:if="${!hasPrevious}"></span>
                        
                    <span class="paging_number" th:each="pageNumber : ${#numbers.sequence(currentPage >= 2 ? (currentPage - 2) : 0, currentPage >= 2 ? (currentPage + 2 < totalPages ? currentPage + 2 : totalPages - 1) : (totalPages > 5 ? 4 : totalPages - 1))}">
                        <a class="paging_number" th:href="@{|?page=${pageNumber}&keyword=${keyword}|}" th:text="${pageNumber + 1}" th:classappend="${pageNumber == currentPage} ? 'current-page'"></a>
                    </span>
                                            
                    <a class="next" th:href="@{|?page=${next}&keyword=${keyword}|}" th:if="${hasNext}" role="button"></a>
                    <span class="next" th:if="${!hasNext}"></span>
                        <a class="last_page" th:href="@{|?page=${totalPages - 1}|}" role="button">마지막 페이지</a>
                </div>
                <!-- //페이징 -->
            </div>
            <!-- //footer -->
        </div>
        <!-- //container -->
    </div>
    <!-- //wrap -->

    <!-- 데스크탑 등록 모달// -->
    <div class="create_modal_background" id="createModalBackground" onclick="closeCreateModal()"></div>
    <div class="create_modal" id="createModal">
        <div class="header">
            <h3>데스크탑 등록</h3>
            <button type="button" class="create_modal_close" id="createModalClose" onclick="closeCreateModal()"></button>
        </div>
        <hr>
        <div class="section">
            <form th:action="@{/desktop/desktop-create}" method="post">
                <div class="grop1">
                    <div class="desktop create">
                        <label for="desktop">데스크탑명</label>
                        <br>
                        <input type="text" id="desktop" name="desktop">
                    </div>
                </div>
                <hr>
                <div class="grop2">
                    <div class="desktop_type create">
                        <label for="createDesktopType">구분</label>
                        <select id="createDesktopType" name="desktopType">
                            <option value="">선택하기</option>
                            <option th:each="desktopType, loop : ${desktopTypeList}" th:text="${desktopType.type}" th:value="${desktopType.type}"></option>
                        </select>
                    </div>
                    <div class="department create">
                        <label for="createDepartment">부서</label>
                        <select id="createDepartment" name="department" onchange="createDepartmentFetchEmployees()">
                            <option value="">선택하기</option>
                            <option th:each="department, loop : ${departmentList}" th:text="${department.department}" th:value="${department.department}"></option>
                        </select>
                    </div>
                    <div class="employee create">
                        <label for="createEmployee">부서원</label>
                        <select id="createEmployee" name="employee">
                            <option value="">선택하기</option>
                            <option th:each="employee, loop : ${employeeList}" th:text="${employee.employee}" th:value="${employee.employee}"></option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="grop3">
                    <div class="mainboard create">
                        <label for="mainboard">메인보드</label><br>
                        <input type="text" id="mainboard" name="mainboard">
                    </div>
                    <div class="cpu create">
                        <label for="cpu">CPU</label><br>
                        <input type="text" id="cpu" name="cpu">
                    </div>
                    <div class="gpu create">
                        <label for="gpu">GPU</label><br>
                        <input type="text" id="gpu" name="gpu">
                    </div>
                    <div class="ssd create">
                        <label for="ssd">SSD</label><br>
                        <input type="text" id="ssd" name="ssd">
                    </div>
                    <div class="power create">
                        <label for="power">파워</label><br>
                        <input type="text" id="power" name="power">
                    </div>
                    <div class="memory_grop1 create">
                        <div class="memory1 create">
                            <label for="memory1">Memory 1</label>
                            <select id="memory1" name="memory1">
                                <option value="">선택하기</option>
                                <option value="없음">없음</option>
                                <option value="DDR3 2GB">DDR3 2GB</option>
                                <option value="DDR3 4GB">DDR3 4GB</option>
                                <option value="DDR3 8GB">DDR3 8GB</option>
                                <option value="DDR3 16GB">DDR3 16GB</option>
                                <option value="DDR3 32GB">DDR3 32GB</option>
                                <option value="DDR4 2GB">DDR4 2GB</option>
                                <option value="DDR4 4GB">DDR4 4GB</option>
                                <option value="DDR4 8GB">DDR4 8GB</option>
                                <option value="DDR4 16GB">DDR4 16GB</option>
                                <option value="DDR4 32GB">DDR4 32GB</option>
                            </select>
                        </div>
                        <div class="memory2 create">
                            <label for="memory2">Memory 2</label>
                            <select id="memory2" name="memory2">
                                <option value="">선택하기</option>
                                <option value="없음">없음</option>
                                <option value="DDR3 2GB">DDR3 2GB</option>
                                <option value="DDR3 4GB">DDR3 4GB</option>
                                <option value="DDR3 8GB">DDR3 8GB</option>
                                <option value="DDR3 16GB">DDR3 16GB</option>
                                <option value="DDR3 32GB">DDR3 32GB</option>
                                <option value="DDR4 2GB">DDR4 2GB</option>
                                <option value="DDR4 4GB">DDR4 4GB</option>
                                <option value="DDR4 8GB">DDR4 8GB</option>
                                <option value="DDR4 16GB">DDR4 16GB</option>
                                <option value="DDR4 32GB">DDR4 32GB</option>
                            </select>
                        </div>
                    </div>
                    <div class="memory_grop2 create">
                        <div class="memory3 create">
                            <label for="memory3">Memory 3</label>
                            <select id="memory3" name="memory3">
                                <option value="">선택하기</option>
                                <option value="없음">없음</option>
                                <option value="DDR3 2GB">DDR3 2GB</option>
                                <option value="DDR3 4GB">DDR3 4GB</option>
                                <option value="DDR3 8GB">DDR3 8GB</option>
                                <option value="DDR3 16GB">DDR3 16GB</option>
                                <option value="DDR3 32GB">DDR3 32GB</option>
                                <option value="DDR4 2GB">DDR4 2GB</option>
                                <option value="DDR4 4GB">DDR4 4GB</option>
                                <option value="DDR4 8GB">DDR4 8GB</option>
                                <option value="DDR4 16GB">DDR4 16GB</option>
                                <option value="DDR4 32GB">DDR4 32GB</option>
                            </select>
                        </div>
                        <div class="memory4 create">
                            <label for="memory4">Memory 4</label>
                            <select id="memory4" name="memory4">
                                <option value="">선택하기</option>
                                <option value="없음">없음</option>
                                <option value="DDR3 2GB">DDR3 2GB</option>
                                <option value="DDR3 4GB">DDR3 4GB</option>
                                <option value="DDR3 8GB">DDR3 8GB</option>
                                <option value="DDR3 16GB">DDR3 16GB</option>
                                <option value="DDR3 32GB">DDR3 32GB</option>
                                <option value="DDR4 2GB">DDR4 2GB</option>
                                <option value="DDR4 4GB">DDR4 4GB</option>
                                <option value="DDR4 8GB">DDR4 8GB</option>
                                <option value="DDR4 16GB">DDR4 16GB</option>
                                <option value="DDR4 32GB">DDR4 32GB</option>
                            </select>
                        </div>
                    </div>
                    <div class="cpu_score create">
                        <label for="cpuScore">CPU점수</label><br>
                        <input type="text" id="cpuScore" name="cpuScore">
                    </div>
                    <div class="gpu_score create">
                        <label for="gpuScore">GPU점수</label><br>
                        <input type="text" id="gpuScore" name="gpuScore">
                    </div>    
                </div>

                <div class="submit create">
                    <input type="submit" value="등록하기" onclick="return confirmCreate()">
                </div>
            </form>
        </div>
    </div>
    <!-- //데스크탑 등록 모달 -->

    <!-- 데스크탑 수정 모달// -->
    <div class="update_modal_background" id="updateModalBackground" onclick="closeUpdateModal()"></div>
    <div class="update_modal" id="updateModal">
        <div class="container1">
            <div class="header">
                <h3>데스크탑 상세</h3>
                <hr>
            </div>
            <div class="section">
                <div class="department detail">
                    <span>부서 :</span>
                    <span id="modalDepartment"></span>
                    <hr>
                </div>  
                <div class="employee detail">
                    <span>부서원 :</span>
                    <span id="modalEmployee"></span>
                    <hr>
                </div>
                <div class="desktop detail">
                    <span>데스크탑명 :</span>
                    <span id="modalDesktop"></span>
                    <hr>
                </div>
                <div class="desktop_type detail">
                    <span>구분 :</span>
                    <span id="modalDesktopType"></span>
                    <hr>
                </div>
                <div class="mainboard detail">
                    <span>Mainboard :</span>
                    <span id="modalMainboard"></span>
                    <hr>
                </div>
                <div class="cpu detail">
                    <span>CPU :</span>
                    <span id="modalCpu"></span>
                    <hr>
                </div>
                <div class="gpu detail">
                    <span>GPU :</span>
                    <span id="modalGpu"></span>
                    <hr>
                </div>
                <div class="ssd detail">
                    <span>SSD :</span>
                    <span id="modalSsd"></span>
                    <hr>
                </div>
                <div class="power detail">
                    <span>Power :</span>
                    <span id="modalPower"></span>
                    <hr>
                </div>
                <div class="memory1 detail">
                    <span>Memory1 :</span>
                    <span id="modalMemory1"></span>
                    <hr>
                </div>
                <div class="memory2 detail">
                    <span>Memory2 :</span>
                    <span id="modalMemory2"></span>
                    <hr>
                </div>
                <div class="memory3 detail">
                    <span>Memory3 :</span>
                    <span id="modalMemory3"></span>
                    <hr>
                </div>
                <div class="memory4 detail">
                    <span>Memory4 :</span>
                    <span id="modalMemory4"></span>
                    <hr>
                </div>
                <div class="cpu_score detail">
                    <span>CPU점수 :</span>
                    <span id="modalCpuScore"></span>
                    <hr>
                </div>
                <div class="gpu_score detail">
                    <span>GPU점수 :</span>
                    <span id="modalGpuScore"></span>
                    <hr>
                </div>
                <div class="create_date detail">
                    <span>등록일시 :</span>
                    <span id="modalCreateDate"></span>
                    <hr>
                </div>
            </div>
        </div>

        <div class="meddle_line"></div>

        <div class="container2">
            <div class="header">
                <h3>데스크탑 수정</h3>
                <button type="button" class="update_modal_close" id="updateModalClose" onclick="closeUpdateModal()"></button>
            </div>
            <hr>
            <div class="section">
                <form th:action="@{/desktop/desktop-update}" method="post">
                    <input type="hidden" id="modalId" name="id">
                    <div class="grop1">
                        <div class="desktop update">
                            <label for="desktop">데스크탑명</label>
                            <br>
                            <input type="text" id="desktop" name="desktop">
                        </div>
                    </div>
                    <hr>
                    <div class="grop2">
                        <div class="desktop_type update">
                            <label for="updateDesktopType">구분</label>
                            <select id="updateDesktopType" name="desktopType">
                                <option value="">선택하기</option>
                                <option th:each="desktopType, loop : ${desktopTypeList}" th:text="${desktopType.type}" th:value="${desktopType.type}"></option>
                            </select>
                        </div>
                        <div class="department update">
                            <label for="updateDepartment">부서</label>
                            <select id="updateDepartment" name="department" onchange="updateDepartmentFetchEmployees()">
                                <option value="">선택하기</option>
                                <option th:each="department, loop : ${departmentList}" th:text="${department.department}" th:value="${department.department}"></option>
                            </select>
                        </div>
                        <div class="employee update">
                            <label for="updateEmployee">부서원</label>
                            <select id="updateEmployee" name="employee">
                                <option value="">선택하기</option>
                                <option th:each="employee, loop : ${employeeList}" th:text="${employee.employee}" th:value="${employee.employee}"></option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="grop3">
                        <div class="mainboard update">
                            <label for="mainboard">메인보드</label><br>
                            <input type="text" id="mainboard" name="mainboard">
                        </div>
                        <div class="cpu update">
                            <label for="cpu">CPU</label><br>
                            <input type="text" id="cpu" name="cpu">
                        </div>
                        <div class="gpu update">
                            <label for="gpu">GPU</label><br>
                            <input type="text" id="gpu" name="gpu">
                        </div>
                        <div class="ssd update">
                            <label for="ssd">SSD</label><br>
                            <input type="text" id="ssd" name="ssd">
                        </div>
                        <div class="power update">
                            <label for="power">파워</label><br>
                            <input type="text" id="power" name="power">
                        </div>
                        <div class="memory_grop1 update">
                            <div class="memory1 update">
                                <label for="memory1">Memory 1</label>
                                <select id="memory1" name="memory1">
                                    <option value="">선택하기</option>
                                    <option value="없음">없음</option>
                                    <option value="DDR3 2GB">DDR3 2GB</option>
                                    <option value="DDR3 4GB">DDR3 4GB</option>
                                    <option value="DDR3 8GB">DDR3 8GB</option>
                                    <option value="DDR3 16GB">DDR3 16GB</option>
                                    <option value="DDR3 32GB">DDR3 32GB</option>
                                    <option value="DDR4 2GB">DDR4 2GB</option>
                                    <option value="DDR4 4GB">DDR4 4GB</option>
                                    <option value="DDR4 8GB">DDR4 8GB</option>
                                    <option value="DDR4 16GB">DDR4 16GB</option>
                                    <option value="DDR4 32GB">DDR4 32GB</option>
                                </select>
                            </div>
                            <div class="memory2 update">
                                <label for="memory2">Memory 2</label>
                                <select id="memory2" name="memory2">
                                    <option value="">선택하기</option>
                                    <option value="없음">없음</option>
                                    <option value="DDR3 2GB">DDR3 2GB</option>
                                    <option value="DDR3 4GB">DDR3 4GB</option>
                                    <option value="DDR3 8GB">DDR3 8GB</option>
                                    <option value="DDR3 16GB">DDR3 16GB</option>
                                    <option value="DDR3 32GB">DDR3 32GB</option>
                                    <option value="DDR4 2GB">DDR4 2GB</option>
                                    <option value="DDR4 4GB">DDR4 4GB</option>
                                    <option value="DDR4 8GB">DDR4 8GB</option>
                                    <option value="DDR4 16GB">DDR4 16GB</option>
                                    <option value="DDR4 32GB">DDR4 32GB</option>
                                </select>
                            </div>
                        </div>
                        <div class="memory_grop2 update">
                            <div class="memory3 update">
                                <label for="memory3">Memory 3</label>
                                <select id="memory3" name="memory3">
                                    <option value="">선택하기</option>
                                    <option value="없음">없음</option>
                                    <option value="DDR3 2GB">DDR3 2GB</option>
                                    <option value="DDR3 4GB">DDR3 4GB</option>
                                    <option value="DDR3 8GB">DDR3 8GB</option>
                                    <option value="DDR3 16GB">DDR3 16GB</option>
                                    <option value="DDR3 32GB">DDR3 32GB</option>
                                    <option value="DDR4 2GB">DDR4 2GB</option>
                                    <option value="DDR4 4GB">DDR4 4GB</option>
                                    <option value="DDR4 8GB">DDR4 8GB</option>
                                    <option value="DDR4 16GB">DDR4 16GB</option>
                                    <option value="DDR4 32GB">DDR4 32GB</option>
                                </select>
                            </div>
                            <div class="memory4 update">
                                <label for="memory4">Memory 4</label>
                                <select id="memory4" name="memory4">
                                    <option value="">선택하기</option>
                                    <option value="없음">없음</option>
                                    <option value="DDR3 2GB">DDR3 2GB</option>
                                    <option value="DDR3 4GB">DDR3 4GB</option>
                                    <option value="DDR3 8GB">DDR3 8GB</option>
                                    <option value="DDR3 16GB">DDR3 16GB</option>
                                    <option value="DDR3 32GB">DDR3 32GB</option>
                                    <option value="DDR4 2GB">DDR4 2GB</option>
                                    <option value="DDR4 4GB">DDR4 4GB</option>
                                    <option value="DDR4 8GB">DDR4 8GB</option>
                                    <option value="DDR4 16GB">DDR4 16GB</option>
                                    <option value="DDR4 32GB">DDR4 32GB</option>
                                </select>
                            </div>
                        </div>
                        <div class="cpu_score update">
                            <label for="cpuScore">CPU점수</label><br>
                            <input type="text" id="cpuScore" name="cpuScore">
                        </div>
                        <div class="gpu_score update">
                            <label for="gpuScore">GPU점수</label><br>
                            <input type="text" id="gpuScore" name="gpuScore">
                        </div>  
                    </div>
    
                    <div class="submit update">
                        <input type="submit" value="수정하기" onclick="return confirmUpdate()">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- //데스크탑 수정 모달 -->

<!------------------------------------------------------------- script// ------------------------------------------------------------->
    <!-- 사이드바 동작// -->
    <script>
        function toggleSidebar() {
            let sidebar = document.getElementById("sidebar");
            let sidebar_button = document.getElementById("sidebar_button");

            // 초기 위치를 설정
            if (!sidebar.style.left) {
                sidebar.style.left = "-200px";
            }

            if (sidebar.style.left === "-200px") {
                sidebar.style.left = "0"; 
                sidebar_button.style.left = "210px";
            } else {
                sidebar.style.left = "-200px";
                sidebar_button.style.left = "10px";
            }

            if (sidebar.style.left === "0px") {
                document.getElementById('sidebar_xmark').style.display = 'block';
                document.getElementById('sidebar_right').style.display = 'none';
                console.log("동작 확인 : 오른쪽 아이콘");
            } else {
                document.getElementById('sidebar_xmark').style.display = 'none';
                document.getElementById('sidebar_right').style.display = 'block';
                console.log("동작 확인 : 닫기 아이콘");
            }
        }
    </script>
    <!-- //사이드바 동작 -->

    <!-- 삭제 버튼 알림// -->
	<script type="text/javascript">
	    function confirmDelete() {
	        return confirm("정말 삭제를 하시겠습니까?");
	    }
	</script>
    <!-- //삭제 버튼 알림 -->

    <!-- 등록 버튼 알림// -->
	<script type="text/javascript">
	    function confirmCreate() {
	        return confirm("정말 등록을 하시겠습니까?");
	    }
	</script>
    <!-- //등록 버튼 알림 -->

    <!-- 수정 버튼 알림// -->
	<script type="text/javascript">
	    function confirmUpdate() {
	        return confirm("정말 수정을 하시겠습니까?");
	    }
	</script>
    <!-- //수정 버튼 알림 -->

    <!-- 데스크탑 등록 모달// -->
    <script>
        // 등록 모달 열기
        function openCreateModal() {
            document.getElementById('createModal').style.display = 'block';
            document.getElementById('createModalBackground').style.display = 'block';
        }

        // 모달 닫기
        function closeCreateModal() {
            document.getElementById('createModal').style.display = 'none';
            document.getElementById('createModalBackground').style.display = 'none';
        }
    </script>
    <!-- //데스크탑 등록 모달 -->

    <!-- 데스크탑 수정 모달// -->
    <script>
        // 수정 모달 열기
        function openUpdateModal(updateButton) {
            let row = updateButton.closest('tr');
            // id
            let desktopId = row.querySelector('td:nth-child(2)').textContent;
            document.getElementById('modalId').value = desktopId;
            // 부서
            let department = row.querySelector('td:nth-child(3)').textContent;
            document.getElementById('modalDepartment').textContent = department;
            // 부서원
            let employee = row.querySelector('td:nth-child(4)').textContent;
            document.getElementById('modalEmployee').textContent = employee;
            // 데스크탑
            let desktop = row.querySelector('td:nth-child(5)').textContent;
            document.getElementById('modalDesktop').textContent = desktop;
            // 데스크탑타입
            let desktopType = row.querySelector('td:nth-child(6)').textContent;
            document.getElementById('modalDesktopType').textContent = desktopType;
            // mainboard
            let mainboard = row.querySelector('td:nth-child(7)').textContent;
            document.getElementById('modalMainboard').textContent = mainboard;
            // cpu
            let cpu = row.querySelector('td:nth-child(8)').textContent;
            document.getElementById('modalCpu').textContent = cpu;
            // gpu
            let gpu = row.querySelector('td:nth-child(9)').textContent;
            document.getElementById('modalGpu').textContent = gpu;
            // ssd
            let ssd = row.querySelector('td:nth-child(10)').textContent;
            document.getElementById('modalSsd').textContent = ssd;
            // power
            let power = row.querySelector('td:nth-child(11)').textContent;
            document.getElementById('modalPower').textContent = power;
            // memory1
            let memory1 = row.querySelector('td:nth-child(12)').textContent;
            document.getElementById('modalMemory1').textContent = memory1;
            // memory2
            let memory2 = row.querySelector('td:nth-child(13)').textContent;
            document.getElementById('modalMemory2').textContent = memory2;
            // memory3
            let memory3 = row.querySelector('td:nth-child(14)').textContent;
            document.getElementById('modalMemory3').textContent = memory3;
            // memory4
            let memory4 = row.querySelector('td:nth-child(15)').textContent;
            document.getElementById('modalMemory4').textContent = memory4;
            // cpuScore
            let cpuScore = row.querySelector('td:nth-child(16)').textContent;
            document.getElementById('modalCpuScore').textContent = cpuScore;
            // gpuScoer
            let gpuScore = row.querySelector('td:nth-child(17)').textContent;
            document.getElementById('modalGpuScore').textContent = gpuScore;
            // 등록일자
            let createDate = row.querySelector('td:nth-child(18)').textContent;
            document.getElementById('modalCreateDate').textContent = createDate;

            document.getElementById('updateModal').style.display = 'block';
            document.getElementById('updateModalBackground').style.display = 'block';
        }

        // 수정 모달 닫기
        function closeUpdateModal() {
            document.getElementById('updateModal').style.display = 'none';
            document.getElementById('updateModalBackground').style.display = 'none';
        }
    </script>
    <!-- //데스크탑 수정 모달 -->

    <!-- 부서 선택 시 해당 부서원 조회(등록)// -->
    <script>
        function createDepartmentFetchEmployees() {
            let createDepartment = document.getElementById("createDepartment").value;
            if(createDepartment !== "") {
                fetch("/desktop/getEmployeesByDepartment?department=" + encodeURIComponent(createDepartment))
                .then(function(response) {
                    return response.json();
                })
                .then(function(employees) {
                    let employeeSelect = document.getElementById("createEmployee");
                    employeeSelect.innerHTML = "<option value=''>선택하기</option>";
                    employees.forEach(function(employee) {
                        let option = document.createElement("option");
                        option.value = employee;
                        option.text = employee;
                        employeeSelect.appendChild(option);
                    });
                })
                .catch(function(error) {
                });
            }
        }
    </script>
    <!-- //부서 선택 시 해당 부서원 조회(등록) -->

    <!-- 부서 선택 시 해당 부서원 조회(수정)// -->
    <script>
        function updateDepartmentFetchEmployees() {
            let updateDepartment = document.getElementById("updateDepartment").value;
            if(updateDepartment !== "") {
                fetch("/desktop/getEmployeesByDepartment?department=" + encodeURIComponent(updateDepartment))
                .then(function(response) {
                    return response.json();
                })
                .then(function(employees) {
                    let employeeSelect = document.getElementById("updateEmployee");
                    employeeSelect.innerHTML = "<option value=''>선택하기</option>";
                    employees.forEach(function(employee){
                        let option = document.createElement("option");
                        option.value = employee;
                        option.text = employee;
                        employeeSelect.appendChild(option);
                    });
                })
                .catch(function(error){
                });
            }
        }
    </script>
    <!-- //부서 선택 시 해당 부서원 조회(수정) -->
<!------------------------------------------------------------- script// ------------------------------------------------------------->

</body>
</html>