/* ITmaster - main */
/* main// */
@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
	width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.wrap {
    background: linear-gradient(#F8FAFC, #D9EAFD, #BCCCDC, #9AA6B2);
    width: 100%;
    height: 100%
}

.container {
    background-color: #FBFBFB;
    width: 1600px;
    height: 800px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
    display: flex;
}

.container .side {
    background-color: bisque;
    width: 100px;
    height: 750px;
    margin-left: 10px;
    margin-top: 25px;
}

.container .section {
    background-color: #D9EAFD;
    width: 1450px;
    height: 750px;
    margin-left: 10px;
    margin-top: 25px;
}


.container .section .content .chart_grop1 {
    background-color: beige;
    width: 100%;
    height: 100%;
    display: flex;
}

.container .section .content .chart_grop2 {
    background-color: burlywood;
    width: 100%;
    height: 100%;
    display: flex;
}

.container .section .content .charts {
    border: solid black 1px;
}

.container .section .content .chart1 {

}

.container .section .content .chart2 {

}

.container .section .content .chart3 {

}

.container .section .content .chart4 {

}

.container .section .content .chart4 {

}


