<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-info</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/product_info/style.css">

</head>
<body>

    <div class="wrap">

        <div class="sun">
            <i class="sun fa-solid fa-sun"></i>
        </div>

        <!-- container -->
        <div class="container">
            <!-- side -->
            <div class="side">
                <i class="home fa-solid fa-house"></i>
                <h3>HOME</h3>
            </div>
            <!-- side -->

            <!-- section -->
            <div class="section">

                <!-- header -->
                <div class="header">

                    <div class="title">
                        <h2>제품 정보</h2>
                    </div>

                    <div class="search">
                        <form th:action="@{/product-info/product-info-list}" method="get">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input class="searchbox" type="text" id="keyword" name="keyword" th:value="${keyword}" placeholder="   검색어를 입력하세요.">
                            <input class="searchbutton" type="submit" value="검색하기">
                        </form>
                    </div>
                </div>
                <!-- header -->

                <div class="content">
                    <table>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>카테고리</th>
                                <th>제조사</th>
                                <th>제품</th>
                                <th>제품명</th>
                                <th>사용상태</th>
                                <th>제품상태</th>
                                <th>현위치</th>
                                <th>구매가격</th>
                                <th>구매년도</th>
                                <th>고유식별번호</th>
                                <th>부서</th>
                                <th>부서원</th>
                                <th>등록일자</th>
                                <th>삭제</th>
                                <th>수정</th>
                            </tr>
                        </thead>                            
                        <tbody>
                            <tr class="list" th:each="productInfo, loop : ${productInfoList}">
                                <td th:text="${productInfoList.getTotalElements - (productInfoList.number * productInfoList.size) - loop.index}"></td>
                                <td th:text="${productInfo.category.category}"></td>
                                <td th:text="${productInfo.maker.maker}"></td>
                                <td th:text="${productInfo.product.product}"></td>
                                <td th:text="${productInfo.simpleName}"></td>
                                <td th:text="${productInfo.useStatus}"></td>
                                <td th:text="${productInfo.itemStatus}"></td>
                                <td th:text="${productInfo.location}"></td>
                                <td th:text="${productInfo.price}"></td>
                                <td th:text="${productInfo.buyYear}"></td>
                                <td th:text="${productInfo.uniqueCode}"></td>
                                <td th:text="${productInfo.department.department}"></td>
                                <td th:text="${productInfo.employee.employee}"></td>
                                <td th:text="${productInfo.createDate}"></td>
                                <td><a class="delete_button" th:href="@{|/product-info/product-info-delete/${productInfo.id}|}" onclick="return confirmDelete();">삭제</a></td>
                                <td><a class="update_button" th:href="@{|/product-info/product-info-detail/${productInfo.id}|}">수정</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- footer -->
                <div class="footer">
                    <!-- 페이징 -->
                    <div class="paging">
                        <a class="previous" th:href="@{|?page=${previous}&keyword=${keyword}|}" th:if="${hasPrevious}" role="button"></a>
                        <span class="previous" th:if="${!hasPrevious}"></span>
                        
                        <span class="paging_number" th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                            <a class="paging_number" th:href="@{|?page=${pageNumber}&keyword=${keyword}|}" th:text="${pageNumber + 1}" th:classappend="${pageNumber == currentPage} ? 'current-page'"></a>
                        </span>
                        
                        <a class="next" th:href="@{|?page=${next}&keyword=${keyword}|}" th:if="${hasNext}" role="button"></a>
                        <span class="next" th:if="${!hasNext}"></span>
                    </div>
                    <!-- 페이징 -->

                    <div class="create_button">
                        <a onclick="openModal()"><button>등록하기</button></a>
                    </div>
                </div>
                <!-- footer -->
            </div>
            <!-- section -->
        </div>
        <!-- container -->
    </div>
    
    <!-- 모달 -->
    <div class="create_modal" id="create_modal">
        <div class="header">
            <h3>제품 정보 등록</h3>
            <button type="button" class="create_modal_close" id="create_modal_close" onclick="closeModal()"></button>
        </div>
        <hr>
        <div class="section">
            <form th:action="@{/product-info/product-info-create}" method="post">
                <div class="grop1">
                    <div class="category create">
                    <label for="category">카테고리</label>
                        <select id="category" name="category" onchange="CategoryfetchProducts()">
                            <option value="">선택하기</option>
                            <option th:each="category, loop : ${categoryList}" th:text="${category.category}" th:value="${category.category}"></option>
                        </select>
                    </div>
                    <div class="maker create">
                        <label for="maker">제조사</label>
                        <select id="maker" name="maker" onchange="MakerfetchProducts()">
                            <option value="">선택하기</option>
                            <option th:each="maker, loop : ${makerList}" th:text="${maker.maker}" th:value="${maker.maker}"></option>
                        </select>
                    </div>
                    <div class="product create">
                        <label for="product">제품</label>
                        <select id="product" name="product">
                            <option value="">선택하기</option>
                            <option th:each="product, loop : ${productList}" th:text="${product.product}" th:value="${product.product}"></option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="grop2">
                    <div class="department create">
                        <label for="department">부서</label>
                        <select id="department" name="department" onchange="fetchEmployees()">
                            <option value="">선택하기</option>
                            <option th:each="department, loop : ${departmentList}" th:text="${department.department}" th:value="${department.department}"></option>
                        </select>
                    </div>
                    <div class="employee create">
                        <label for="employee">부서원</label>
                        <select id="employee" name="employee">
                            <option value="">선택하기</option>
                            <option th:each="employee, loop : ${employeeList}" th:text="${employee.employee}" th:value="${employee.employee}"></option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="grop3">
                    <div class="useStatus create">
                        <label for="useStatus">사용상태</label>
                        <select id="useStatus" name="useStatus">
                            <option value="">선택하기</option>
                            <option value="새상품">새상품</option>
                            <option value="중고">중고</option>
                        </select>
                    </div>
                    <div class="itemStatus create">
                        <label for="itemStatus">제품상태</label>
                        <select id="itemStatus" name="itemStatus">
                            <option value="">선택하기</option>
                            <option value="정상">정상</option>
                            <option value="결함">결함</option>
                            <option value="고장">고장</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="simpleName create">
                    <label for="simpleName">이름</label>
                    <br>
                    <input type="text" id="simpleName" name="simpleName">
                </div>
                <div class="location create">
                    <label for="location">현위치</label>
                    <br>
                    <input type="text" id="location" name="location">
                </div>
                <div class="price create">
                    <label for="price">구매가격</label>
                    <br>
                    <input type="text" id="price" name="price">
                </div>
                <div class="buyYear create">
                    <label for="buyYear">구매년도</label>
                    <br>
                    <input type="text" id="buyYear" name="buyYear">
                </div>
                <div class="productComment create">
                    <label for="productComment">비고</label>
                    <br>
                    <input type="text" id="productComment" name="productComment">
                </div>
                <div class="uniqueCode create">
                    <label for="uniqueCode">고유식별번호</label>
                    <br>
                    <input type="text" id="uniqueCode" name="uniqueCode">
                </div>
                <div class="submit create">
                    <input type="submit" value="등록하기">
                </div>
            </form>
        </div>
    </div>

    <div class="modal_background" id="modal_background" onclick="closeModal()"></div>
    <!-- 모달 -->




    <script>
        // 모달 열기
        function openModal() {
            document.getElementById('create_modal').style.display = 'block';
            document.getElementById('modal_background').style.display = 'block';
        }

        // 모달 닫기
        function closeModal() {
            document.getElementById('create_modal').style.display = 'none';
            document.getElementById('modal_background').style.display = 'none';
        }
    </script>

    <!-- 삭제 버튼 알림 -->
	<script type="text/javascript">
	    function confirmDelete() {
	        return confirm("정말 삭제를 하시겠습니까?");
	    }
	</script>

    <!-- 부서 선택 시 해당 부서원 조회 -->
    <script>
        function fetchEmployees() {
            let department = document.getElementById("department").value;
            if(department !== "") {
                fetch("/product-info/getEmployeesByDepartment?department=" + encodeURIComponent(department))
                .then(function(response) {
                    return response.json();
                })
                .then(function(employees) {
                    let employeeSelect = document.getElementById("employee");
                    employeeSelect.innerHTML = "<option value=''>선택하기</option>";
                    employees.forEach(function(employee){
                        let option = document.createElement("option");
                        option.value = employee;
                        option.text = employee;
                        employeeSelect.appendChild(option);
                    });
                })
                .catch(function(error){
                });
            }
        }
    </script>
    
    <!-- 카테고리 선택 시 해당 제품 조회 -->
    <script>
        function CategoryfetchProducts() {
            let category = document.getElementById("category").value;
            if(category !== "") {
                fetch("/product-info/getProductsByCategory?category=" + encodeURIComponent(category))
                .then(function(response) {
                    return response.json();
                })
                .then(function(products) {
                    let productSelect = document.getElementById("product");
                    productSelect.innerHTML = "<option value=''>선택하기</option>";
                    products.forEach(function(product){
                        let option = document.createElement("option");
                        option.value = product;
                        option.text = product;
                        productSelect.appendChild(option);
                    });
                })
                .catch(function(error){
                });
            }
        }
    </script>
    
    <!-- 제조사 선택 시 해당 제품 조회 -->
    <script>
        function MakerfetchProducts() {
            let maker = document.getElementById("maker").value;
            if(maker !== "") {
                fetch("/product-info/getProductsByMaker?maker=" + encodeURIComponent(maker))
                .then(function(response) {
                    return response.json();
                })
                .then(function(products) {
                    let productSelect = document.getElementById("product");
                    productSelect.innerHTML = "<option value=''>선택하기</option>";
                    products.forEach(function(product){
                        let option = document.createElement("option");
                        option.value = product;
                        option.text = product;
                        productSelect.appendChild(option);
                    });
                })
                .catch(function(error){
                });
            }
        }
    </script>
    
</body>
</html>